@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for the popup media view: positioned absolutely, given high z-index and a semi-transparent background. */
.container1 .popup-media {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
  }
  
  /* Styles for video elements inside .popup-media: positioned absolutely, given dimension properties, fitting styles and bordered. */
  .container1 .popup-media :is(video) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:block;
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
    border: 3px solid #fff;
  }
  
  /* Styles for the popup close button */
  .container1 .popup-media span {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
    color: #fff;
    user-select:none;
  }
  